#youtube-movie {
  margin: 0 auto;
  width: 100%;
  /*max-width: 640px; /* 最大の横幅 */
}
 
#youtube-movie-content {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
 
#youtube-movie-content iframe {
  height: 100% !important;
  left: 0;
  position: absolute;
  top: 0;
  width: 100% !important;
}

.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 1em 1.5em;
  text-decoration: none;
  color: #00BCD4;
  background: #ECECEC;
  transition: .4s;
}

.btn-flat-simple:hover {
  background: #00bcd4;
  color: white;
}
